<!DOCTYPE html>
<html lang="en">

<head>
	<style>
		img {width:100%;}
	</style>
	<title>applephising</title>

	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.js"></script>
</head>

<body>
	<img src="apple.PNG" usemap="#image-map">

	<map name="image-map">
    	<area target="" alt="" title="" href="apple2.html" coords="771,761,534,727" shape="rect">
	</map>
	
</body>

</html>