<!DOCTYPE html>
<html lang="en">

<head>
	<title>applephising</title>
	
</head>

<body>
	<center>
	<h1><font color = "red">이 웹페이지는 가상의 피싱사이트 입니다.</font></h1>
	<h3><font color = "red">피싱 사이트는 은행, 공공 기관의 홈페이지를 모방한 가짜 사이트입니다.</font></h3>
	<h3><font color = "red">사기범들은 이러한 사이트들을 이용해서 개인정보를 수집합니다.</font></h3>
</br></br>
	<h2><font color = "blue">피싱 예방 수칙!</font></h2>

	<h3>1. 출처가 불 분명한 이메일, 문자 메시지, 블로그 등에 포함된 URL에 접근하지 않습니다.</h3>
	<h3>2. 개인정보, 금융정보에 대한 입력을 진행할 때, 홈페이지 주소의 자물쇠 그림 또는 도메인의 주소 철자 확인하기</h3>
	<h3>3. 경품 이벤트 등 무분별한 인터넷 이벤트 참여를 통해 개인정보 입력하지 않기</h3>
	<h3>4. 안전한 비밀번호를 사용하고 주기적으로 변경하기</h3>
	<h3>5. 공유기 보안 설정 강화하기<h3/>
	
	<a href="https://www.boho.or.kr/cyber/preventPhishing.do">피싱 예방 가이드(클릭!)</a>

	</center>


</body>

</html>